.category-wrapper {
  width: 250px;
  margin: 15px;
  box-sizing: border-box;
  border: 1px solid #A3BDC1;
  border-radius: 4px;
  padding: 6px 20px 6px 4px;
}

.category {
  width: 140px;
  height: 60px;
  display: inline-block;
  margin: 25px 40px;
  border-radius: 4px;
  background-color: #9fdeff;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.selected {
  background-color: #57ff98;
}

.check {
  font-size: 1.1em;
  color: #343d46;
  margin-left: 5px;
}