html, body {
  font-family: 'Lato', sans-serif;
}

.wrapper-main {
  position: relative;
  min-height: 500px;
  width: 100%;
}

.post-wrapper {
  width: 80%;
  margin: 15px auto;

  &:first-child {
    margin-top: 30px;
  }
}

.new-post-wrapper {
  margin: 0 0 20px 15px;
}